.side
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  height: 90vh
  color: var(--white-color)
  cursor: pointer
  .data-item
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-bottom: 1rem
  .menu-img
    width: 60%
    height: 60%

