.drops
  position: relative
  display: flex
  justify-content: center
  align-items: center
  height: var(--children-app)

  .drop-two,.drop-one,.drop-four
    position: relative
  .drop-one
    top: -15%
  .drop-three
    position: absolute
    left: 50%
    top: 60%
