.drop-two,.drop-three,.drop-one
  position: absolute
.drop-one
  top: 15%
  left: 40%
.drop-two
  bottom: 40%
  left: 80%
.drop-three
  bottom: 20%
  left: 75%
.drops
  position: relative
  width: 100%
  height: var(--children-app)
  background-image: linear-gradient(25deg, #0310ff, #9c19b0, #c33565, #d75100)