@import "./reset.css";

:root{
    --white-color: #ffffff;
    --gray-color: #eae5e5;
    --deep-gray-color: #c7c3c3;
    --mini-font-size: 12px;
    --normal-text-color: #000;
    --middle-font-size: 14px;
    --success-font-color: #22dc60;
    --deep-green-color: #0aa23d;
    --children-app: 90vh;
    --orange-color: #e7ab3e;
    --blue-color: #42a5f6
}

.App{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/website_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.App-container{
    width: 90%;
    height: var(--children-app);
    background-color: var(--white-color);
    border-radius: .5rem;

}
.ant-input-affix-wrapper:focus,.ant-input-affix-wrapper:hover{
    border: none;
}
.avatar{
    color: var(--white-color);
}
div::-webkit-scrollbar{
    width: .4rem;
    display: block;
    scroll-behavior: smooth;
}
div:hover::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: var(--deep-gray-color);
}
.switch{
    background-color: var(--gray-color);
}
button:hover{
    border: none;
    color: var(--white-color) !important;
}
input:hover{
    border: none;
}
input:focus{
    border: none;
    box-shadow: none !important;
}
.loader{
    padding: 1rem 0;
    text-align: center;
}
.loader-none{
    display: none;
}
.loader-msg{
    margin-left: 1rem;
    color: var(--deep-gray-color);
    font-size: var(--mini-font-size);
}

