@import "./reset.css";

:root{
    --white-color: #fff;
    --gray-color: #eae5e5;
    --deep-gray-color: #c7c3c3;
    --mini-font-size: 12px;
    --normal-text-color: #000;
    --middle-font-size: 14px;
    --success-font-color: #06e852;
    --deep-green-color: #0aa23d;
    --children-app: 90vh;
}

.App{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/website_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.App-container{
    width: 90%;
    height: var(--children-app);
    background-color: var(--white-color);
    border-radius: .5rem;

}
