@import "./reset.css";
body{
    overflow: hidden;
}
:root{
    --white-color: #ffffff;
    --gray-color: #eae5e5;
    --deep-gray-color: #c7c3c3;
    --mini-font-size: 12px;
    --normal-text-color: #3a3939;
    --middle-font-size: 14px;
    --success-font-color: #22dc60;
    --deep-green-color: #0aa23d;
    --children-app: 90%;
    --orange-color: #e7ab3e;
    --blue-color: #42a5f6;
    --image-progress-mask: rgba(155, 152, 152, 0.8);
    --nav-height: 4rem;
    --tabbar-height: 4rem;
    --actived-color: #219130;
    --mobile-tab-content-height: calc(100vh - var(--nav-height) - var(--tabbar-height));
    --error-color: #e56161;
    --moments-blue-color: #6e96d5;
    --aside-color: #6c53de;
}
.anticon svg{
    vertical-align: initial;
}
.App-mobile,.App,.App-container-mobile{
    position: relative;
    width: 100%;
    height: 100vh;
}
.App-mobile,.App-container-mobile{
    max-width: 500px;
}

.App{
    background-image: url("../images/website_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}
.App-container{
    position: relative;
    top:50%;
    left: 50%;
    width: 90%;
    height: var(--children-app);
    background-color: var(--white-color);
    border-radius: .5rem;
    transform: translate(-50% , -50%);
}
.ant-input-affix-wrapper:focus,.ant-input-affix-wrapper:hover{
    border: none;
}
.avatar{
    color: var(--white-color);
}
div::-webkit-scrollbar{
    width: 0;
    scroll-behavior: smooth;
}
div:hover::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: var(--deep-gray-color);
}
.switch{
    background-color: var(--gray-color);
}
button:hover{
    border: none;
    color: var(--white-color);
}
.normal:hover{
    color:#000 !important;
}
input:hover{
    border: none;
}
input:focus{
    border: none;
    box-shadow: none !important;
}
.loader{
    padding: 1rem 0;
    text-align: center;
}
.loader-none{
    display: none;
}
.loader-msg{
    margin-left: 1rem;
    color: var(--deep-gray-color);
    font-size: var(--mini-font-size);
}
.text-ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media  screen and (min-width: 500px) {
    .App-mobile,.App-container-mobile{
        margin: 0 auto;
    }
}