.actived
  background-color: #ddd6d6
.list-container
  height: 100%
.message-box:hover
  background-color: var(--white-color)
.message-box
  display: flex
  justify-content: space-between
  align-content: center
  cursor: pointer
  .msg-left
    margin-left: .6rem
    margin-right: .6rem
    .avatar
      display: flex
      justify-content: center
      align-items: center
      width: 2.5rem
      height: 2.5rem
      border-radius: .2rem
  .msg-right
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex: 1
    padding: 1rem 0
    .user-msg
      font-size: var(--middle-font-size)
      .chat-user
        text-align: left
      .chat-msg
        max-width: 7rem
        min-height: 12px
        white-space: nowrap
        text-overflow: ellipsis
        font-size: var(--mini-font-size)
        color: var(--deep-gray-color)
        text-align: left
        overflow: hidden
    .time-mute
      display: flex
      flex-direction: column
      align-items: flex-end
      margin-right: .6rem
      font-size: var(--mini-font-size)
      color: var(--deep-gray-color)
    .chat-msg,.chat-mute
      margin-top: .5rem


