.middle-com
  width: 260px
  height: auto
  background-color: red
  text-align: center
  .space-self
    display: flex
    justify-content: center
    align-items: center
    padding: 1rem 0
    background-color: var(--white-color)
    input
      font-size: var(--mini-font-size)
      background-color: var(--gray-color)
      color: var(--normal-text-color)


