.pop-container
  width: 40vw
  height: 50vh
  cursor: context-menu
  overflow-y: scroll
.title-emoji
  margin-left: 1.4rem
  color: var(--deep-gray-color)
.emoji-popover
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  .emoji-tip
    width: 10%
    text-align: center
    border-radius: .4rem
    font-size: 1.4rem
.emoji-popover::after
  display: block
  content: ''
  width: 10%