.pop-container
  width: 40vw
  height: 50vh
  cursor: context-menu
  overflow-y: scroll
.title-emoji
  margin-left: 1.4rem
  color: var(--deep-gray-color)
.emoji-popover
  padding: .5rem
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  font-size: 1.4rem
  .emoji-tip
    display: flex
    justify-content: center
    align-items: center
    width: 10%
    border-radius: .4rem
  .emoji-tip:hover
    background-color: var(--gray-color)
  &::after
    display: block
    content: ''
    width: 10%